name: Check

on:
  push:

jobs:
  ubuntu:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Binaryen
        uses: ./

      - name: Run wasm-opt
        run: wasm-opt --version

  ubuntu-with-version:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Binaryen
        uses: ./
        with:
          version: "118"

      - name: Run wasm-opt
        run: wasm-opt --version

  macos:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Binaryen
        uses: ./

      - name: Run wasm-opt
        run: wasm-opt --version

  windows:
    runs-on: windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Binaryen
        uses: ./

      - name: Run wasm-opt
        shell: bash
        run: wasm-opt --version
